
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 30px 15px;
    column-gap: 20px;
    background-color: #fff;
}


.header__menu {
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 20px;
    list-style: circle;
    padding: 0;
}

.header__link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}


.header__logo {
    grid-column: 2 / span 1;
    text-align: center;
    height: 105px;
    width: 148px;
}

.header__logo-image {
    max-width: 100%;
    height: auto;
}
.address {
font-style: normal;
font-size: 18px;
}

.header__address {
    grid-column: 3 / span 1;
    max-width: 240px;
    justify-self: end;
    white-space: nowrap;
}

.cover {
 position:relative;   
 background-image: url('../images/cover.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 padding-top: 170px; 
 padding-left:30px;
padding-right:20px;
padding-bottom: 50px;
z-index: 1;
}
.overlay {
 position:absolute;
 background-color: rgba(0,0,0,0.6);
 width: 100%; 
 height: 100%;
 z-index: -1;
 top:0;
 left:0;
}

.cover__title {
 letter-spacing: 0.4em;   
text-transform: uppercase;  
 font-size: 100px;
 color:  #ffff;

}
.aligned-text {
  display: block; 
  line-height: 120px;
}

.aligned-text_right {
    text-align: right;
    letter-spacing: 0.5em; 
}


.aligned-text_center {
    text-align: center;
    letter-spacing: 0.5em;
}

.aligned-text_left {
    text-align: left;
    
}

.no-letter-spacing {
  letter-spacing: 0em;
}


.cover__description {
  display: flex;
  justify-content: space-between;
 flex-wrap:nowrap;
 padding-top:100px;

}
.cover__description-text {
  text-transform: uppercase; 
  color:  #ffff; 
  word-spacing: 15px;
  padding-top: 10px;
}
.bet-button {
 text-transform: uppercase;
 background-color: transparent;
 color:  #ffff; 
 border: 1px solid #ffff; 
 padding-top: 10px;
 padding-left: 28px;
 padding-right: 28px;
 padding-bottom: 10px;
}
.lots {
 background-color: #ffff;

}
.lots__heading {
text-transform: uppercase;  
 font-size: 47px;
 padding-top: 102px;
 padding-bottom: 25px;
 padding-left: 70px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  height: 100%;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 570px;
   
  
  
}
.card {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 35px;
  padding-right:25px;
}

.card_type_film {
background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card-link{
  color:  #ffff;  
 
  }
.card__title {
  text-decoration: underline;  
text-transform: uppercase;  
 font-size: 24px;
}

.card__text {
   font-size: 20px;  
}
.lots__look-more-link {
padding-left:60px;
padding-top: 100px;
font-size: 25px;
}
.about {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 20px;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
}


.about__logo {
  background-color: black;
  border-radius: 50%;
  padding: 70px 55px; 
  background-position: center;
  margin top: 10px; 
 
}

.about__logo-image {
  justify-content: center;
 
 
  
}
.about__title {
  font-size: 47px;
  margin-top: 120px; 
  margin-bottom: 110px; 
  text-transform: uppercase;
}

.about__text { 
 padding-top: 10px;
 font-size:  25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-top: 170px;
  padding-bottom: 75px;
}


.footer__address {
 padding-left: 25px;
}


.footer__menu {
  text-align: center; 
 
}

.footer__links-list {
    list-style-type: none; 
  display: inline-block;
  text-decoration: underline; 
   
}
.footer__link{
  text-decoration: none;  
}

.footer__social-list-item{
 display: inline-flex;
 gap:35px;
 list-style-type: none; 
}

.footer__social-icon {
  width: 38px; 
  height: 38px; 
} 
